@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("/SF-Pro.ttf");
}

body {
    font-family: "San Francisco", sans-serif;

    @apply text-black dark:text-white;
    @apply bg-white dark:bg-neutral-900;
}
